# Aggregation is beautiful

### Let's go through 4 levels of aggregation together so you can understand and master it once and for all!

In [1]:
import pandas as pd

### Load a dummy csv into a dataframe

In [2]:
pokemon_df = pd.read_csv('https://gist.githubusercontent.com/armgilles/194bcff35001e7eb53a2a8b441e8b2c6/raw/92200bc0a673d5ce2110aaad4544ed6c4010f687/pokemon.csv')

In [3]:
pokemon_df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

## Level 1: Group by + aggregate function

In [4]:
# group by type 1 and count number of pokemon in each type
pokemon_df.groupby(['Type 1']).count()

,#,Name,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,,
Bug,69,69,52,69,69,69,69,69,69,69,69,69
Dark,31,31,21,31,31,31,31,31,31,31,31,31
Dragon,32,32,21,32,32,32,32,32,32,32,32,32
Electric,44,44,17,44,44,44,44,44,44,44,44,44
Fairy,17,17,2,17,17,17,17,17,17,17,17,17
Fighting,27,27,7,27,27,27,27,27,27,27,27,27
Fire,52,52,24,52,52,52,52,52,52,52,52,52
Flying,4,4,2,4,4,4,4,4,4,4,4,4
Ghost,32,32,22,32,32,32,32,32,32,32,32,32
Grass,70,70,37,70,70,70,70,70,70,70,70,70
Ground,32,32,19,32,32,32,32,32,32,32,32,32
Ice,24,24,11,24,24,24,24,24,24,24,24,24
Normal,98,98,37,98,98,98,98,98,98,98,98,98
Poison,28,28,13,28,28,28,28,28,28,28,28,28
Psychic,57,57,19,57,57,57,57,57,57,57,57,57
Rock,44,44,35,44,44,44,44,44,44,44,44,44
Steel,27,27,22,27,27,27,27,27,27,27,27,27
Water,112,112,53,112,112,112,112,112,112,112,112,112

### It applied the function to all numerical columns by default and dropped the non-numerical columns
### -> We fix this by selecting what columns we want to count

In [5]:
pokemon_df.groupby(['Type 1'])['Name'].count()

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Name, dtype: int64

### We group by Type 1, then select the column Name from the grouped data, and then we count the number of values. 
### -> We get a Pandas Series. Or just double the brackets to get a DataFrame.

In [6]:
pokemon_df.groupby(['Type 1'])[['Name']].count()

          Name
Type 1
Bug         69
Dark        31
Dragon      32
Electric    44
Fairy       17
Fighting    27
Fire        52
Flying       4
Ghost       32
Grass       70
Ground      32
Ice         24
Normal      98
Poison      28
Psychic     57
Rock        44
Steel       27
Water      112

## Level 2: Group by + Agg (on 1 or more columns at once)

### Agg is a cool trick that'll allow to do what we just did before, but also could help you apply different aggregation functions to different columns all at once !

In [7]:
pokemon_df.groupby('Type 1').agg({'Attack': 'mean', 'Defense': 'mean', 'HP': 'mean'})

              Attack     Defense         HP
Type 1
Bug        70.971014   70.724638  56.884058
Dark       88.387097   70.225806  66.806452
Dragon    112.125000   86.375000  83.312500
Electric   69.090909   66.295455  59.795455
Fairy      61.529412   65.705882  74.117647
Fighting   96.777778   65.925926  69.851852
Fire       84.769231   67.769231  69.903846
Flying     78.750000   66.250000  70.750000
Ghost      73.781250   81.187500  64.437500
Grass      73.214286   70.800000  67.271429
Ground     95.750000   84.843750  73.781250
Ice        72.750000   71.416667  72.000000
Normal     73.469388   59.846939  77.275510
Poison     74.678571   68.821429  67.250000
Psychic    71.456140   67.684211  70.631579
Rock       92.863636  100.795455  65.363636
Steel      92.703704  126.370370  65.222222
Water      74.151786   72.946429  72.062500

### No need for multiple redondant groupby statements !
### -> Just make a dictionnary {column_name : agg_function} and you're good to go !
### Column selection is built in so it's almost worth it to always use agg instead of applying count like in level 1!

In [8]:
pokemon_df.groupby(['Type 1']).agg({'Name': 'count'})

          Name
Type 1
Bug         69
Dark        31
Dragon      32
Electric    44
Fairy       17
Fighting    27
Fire        52
Flying       4
Ghost       32
Grass       70
Ground      32
Ice         24
Normal      98
Poison      28
Psychic     57
Rock        44
Steel       27
Water      112

## Level 3: Group by + multiple Agg functions on same column

In [9]:
# You can give the agg function a list of aggregation functions as dict value to apply to a column.
pokemon_df.groupby(['Type 1']).agg({'Attack': ['mean', 'min', 'max']})

              Attack
                mean min  max
Type 1
Bug        70.971014  10  185
Dark       88.387097  50  150
Dragon    112.125000  50  180
Electric   69.090909  30  123
Fairy      61.529412  20  131
Fighting   96.777778  35  145
Fire       84.769231  30  160
Flying     78.750000  30  115
Ghost      73.781250  30  165
Grass      73.214286  27  132
Ground     95.750000  40  180
Ice        72.750000  30  130
Normal     73.469388   5  160
Poison     74.678571  43  106
Psychic    71.456140  20  190
Rock       92.863636  40  165
Steel      92.703704  24  150
Water      74.151786  10  155

### This gives you a dataframe with a multi level headers for columns... Not always convenient to work with so let's fix that by: 
### - renaming the columns 
### - flattening the multi header columns.

In [10]:
pokemon_df.groupby(['Type 1']).agg({'Attack': ['mean', 'min', 'max']})\
          .rename(columns={'mean': 'mean_attack', 'min': 'min_attack', 'max': 'max_attack'})\
          .droplevel(0, axis=1)

          mean_attack  min_attack  max_attack
Type 1
Bug         70.971014          10         185
Dark        88.387097          50         150
Dragon     112.125000          50         180
Electric    69.090909          30         123
Fairy       61.529412          20         131
Fighting    96.777778          35         145
Fire        84.769231          30         160
Flying      78.750000          30         115
Ghost       73.781250          30         165
Grass       73.214286          27         132
Ground      95.750000          40         180
Ice         72.750000          30         130
Normal      73.469388           5         160
Poison      74.678571          43         106
Psychic     71.456140          20         190
Rock        92.863636          40         165
Steel       92.703704          24         150
Water       74.151786          10         155

### Cool that works but quite ugly... Let's fix that !

# Level 4: Group by + multiple Agg functions on same column + tuples

### You can just use tuples instead of a dictionary and name your target columns on the fly !

In [15]:
pokemon_df.groupby('Type 1').agg(Attack_mean = ('Attack', 'mean'), 
                                 Attack_min = ('Attack', 'min'),
                                 Attack_max = ('Attack', 'max'), 
                                 Attack_range = ('Attack', lambda x: x.max() - x.min())
                                 )

          Attack_mean  Attack_min  Attack_max  Attack_range
Type 1
Bug         70.971014          10         185           175
Dark        88.387097          50         150           100
Dragon     112.125000          50         180           130
Electric    69.090909          30         123            93
Fairy       61.529412          20         131           111
Fighting    96.777778          35         145           110
Fire        84.769231          30         160           130
Flying      78.750000          30         115            85
Ghost       73.781250          30         165           135
Grass       73.214286          27         132           105
Ground      95.750000          40         180           140
Ice         72.750000          30         130           100
Normal      73.469388           5         160           155
Poison      74.678571          43         106            63
Psychic     71.456140          20         190           170
Rock        92.863636          40         165           125
Steel       92.703704          24         150           126
Water       74.151786          10         155           145

### -> You get all previous benefits of agg (column selection, multiple agg functions on same and different columns, no multi level headers)
### -> You can name your columns on the fly ! 
### -> You can also use lambda functions if you want to do something more complex just like in the previous levels.